<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require-text/2.0.12/text.min.js"></script> -->
<script src="main.js"></script>
<body>

<!-- Testing git commit -->
<div ng-controller="nCtrl">
  <p>Name: {{name}}<input type="text"></p> 
  <!-- <p ng-click="changeVar()">{{name}}</p>
  <nicks-first-dir ng-click="changeVar()"></nicks-first-dir> -->
  <nav-bar></nav-bar>
</div>
<!-- <script src="app/app.js"></script>
<script src="app/controllers/controller.js"></script>
<script src="app/directives/navBarDirective.js"></script> -->
</body>
</html>